#navBrand {
  color: black; }

#navBar {
  background-color: #7f7fc0 !important; }

.primaryForm {
  padding: 20px !important; }
  .primaryForm h5 {
    font-style: italic !important;
    margin-bottom: 1rem; }
